<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> FF10 Battle </title>
    <!-- <link rel="icon" type="image/png" href="{{ url }}/imgs/phpLogo.png"/> -->
    <link rel="stylesheet" href="../css/stylesheet.css">
</head>
<body>

<div class="tidus character">
    <img src="../imgs/tidus.jpg"
    alt= "Tidus"/>
</div>

<div class="seymour character">
    <img src="../imgs/seymour.jpg"
    alt= "Seymour"/>
</div>

<div class="statusBar">
<table>
<tr>
    <td>Tidus</td>
    <td>100</td>
    <td>50</td>
</tr>
</table>
<progress value="100" max="100"></progress>
<table>
<tr>
    <td>Seymour</td>
    <td>500</td>
    <td>100</td>
</tr>
</table>
<progress value="100" max="100"></progress>
</div>

</body>
</html>